extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet" href="/css/signin.css")

block megaMenu 
    include ../includes/menu.pug
    
block content

    
        
    if (action !== 'undefined' && action === 'success')
         script(type='text/javascript').
            alert("Hesabınız başarıyla oluşturuldu. Lütfen emailinizi kontrol ediniz..");

    if (action !== 'undefined' && action === 'reset')
        script(type='text/javascript').
            alert("Epostanıza mail gönderilmiştir lütfen kontrol ediniz.");
    
    if (action !== 'undefined' && action === 'newPassword')
        script(type='text/javascript').
            alert("Şifreniz başarıyla değiştirilmiştir.");
            
    if errorMessage
        script(type='text/javascript').
            alert("Eposta veya parolanız hatalı, Lütfen tekrar deneyin."); 
    div.loginDiv
        main.form-signin.mt-5
            form(action="/login" method="POST")
                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                if action === 'verifySuccess'
                    div.alert.alert-success.text-dark.col-sm-12.container-fluid Tebrikler hesabınız başarılı bir şekilde doğrulanmıştır.
                if action === 'verify'
                    div.alert.alert-warning.text-dark.col-sm-12.container-fluid Lütfen email adresinizi doğrulayınız!
                if action === 'noEmail'
                    div.alert.alert-danger.text-dark.col-sm-12.container-fluid Email bulunamadı.
                img(src="img/garavolli.png" alt="garavolliAvatar" width="135" height="115").mb-3.mx-auto
                h1.h3.mb-0.fw-normal Giriş Yap
                br
                
                input(type="email" id="email" name="email" placeholder="E-posta" required autofocus).form-control.mb-2
            
                input(type="password" id="password" name="password" placeholder="Şifre" required).form-control

                a(href="/reset-password" class="f-pas").btn.btn-link.p-0.mt-1.mb-1 Şifremi Unuttum

                span(class="glyphicon glyphicon-eye-open")
                
        
                input(type="submit" value="Giriş yap").w-100.btn.btn-md.loginButtonCss.btn-secondary
                hr
                h4 
                    strong Üye değil misiniz?
                p Hemen üye olun ve avantajlı ürünlerin tadını çıkartın!
                div(class="col col-xs-6 text-right")
                        a(href="/register" class="btn btn-sm btn-secondary").w-100 Üye Ol
                
    script(src="/js/language.js")