.container-fluid.pb-0.mb-0.justify-content-center.text-light.footer-css
	footer
		.row.my-5.justify-content-center.py-5
			.col-11
				.row
					.col-xl-8.col-md-4.col-sm-4.col-12.my-auto.mx-auto.a
						h3.text-muted.mb-md-0.mb-5.bold-text Garavolli.
					.col-xl-2.col-md-4.col-sm-4.col-12
						h6.mb-3.mb-lg-4.bold-text
							b MENÜ
						ul.list-unstyled
							li Anasayfa
							li Ürünler
					.col-xl-2.col-md-4.col-sm-4.col-12
						h6.mb-3.mb-lg-4.text-muted.bold-text.mt-sm-0.mt-5
							b ADRES
						p.mb-1 KIBRIS,
						p TÜRKİYE
				.row
					.col-xl-8.col-md-4.col-sm-4.col-auto.my-md-0.mt-5.order-sm-1.order-3.align-self-end
						p.social.text-muted.mb-0.pb-0.bold-text
							span.mx-2
								i.fab.fa-facebook-f(aria-hidden='true')
							span.mx-2
								i.fab.fa-linkedin-in(aria-hidden='true')
							span.mx-2
								i.fab.fa-twitter(aria-hidden='true')
							span.mx-2
								i.fab.fa-instagram(aria-hidden='true')
						small.rights
							span ®
							|  Garavolli Tüm Hakları Saklıdır.
					.col-xl-2.col-md-4.col-sm-4.col-auto.order-1.align-self-end
						h6.mt-55.mt-2.text-muted.bold-text
							b E-mail
						small
							span
								i.fa.fa-envelope(aria-hidden='true')
							|  garavollishopping@gmail.com
					.col-xl-2.col-md-4.col-sm-4.col-auto.order-2.align-self-end.mt-3
						h6.text-muted.bold-text
							b Telefon
						small
							span
								i.fas.fa-phone(aria-hidden='true')
							|  0555 555 45 55
