.container-fluid.pb-0.mb-0.justify-content-center.text-light.footer-css
	footer
		.row.my-5.justify-content-center.py-5
			.col-11
				.row(class="top-footer").mb-5
					.col-lg-9.my-auto.mx-auto
						h2.text-muted.mb-md-0.mb-5.bold-text Garavolli.
						small.rights
							span ®
							|  Garavolli Tüm Hakları Saklıdır.
				
					//- .col-lg-3.col-12.mt-4.pl-4
					//- 	h6.mb-1.mb-lg-4.text-muted.bold-text.mt-sm-0.mt-5
					//- 		b ADRES
					//- 	p.mb-2 KIBRIS
					.col-lg-3.col-auto.order-1.mt-3.mb-3.d-flex.justify-content-start
						small
							span
								i.fa.fa-envelope(aria-hidden='true' class="soc-media-icon")
							|  garavollishopping@gmail.com
					
					
				.row(class="bottom-footer").mt-5
					.col-lg-6.mt-4.order-sm-1.order-3.pl-0
						p.social.text-muted.mb-0.pb-0.bold-text
							
							span.mx-2
								a(href="https://www.facebook.com/garavollicyp" target="_blank" class="soc-media-icon")
									i(class="fab fa-facebook-f" aria-hidden='true')
							span.mx-2
								a(href="https://www.linkedin.com/in/garavolli-shopping-b70397212/" target="_blank" class="soc-media-icon")
									i.fab.fa-linkedin-in(aria-hidden='true')
							span.mx-2
								a(href="https://twitter.com/GaravolliS" target="_blank" class="soc-media-icon")
									i.fab.fa-twitter(aria-hidden='true')
							span.mx-2
								a(href="https://www.instagram.com/garavollishopping/?hl=tr" target="_blank" class="soc-media-icon")
									i.fab.fa-instagram(aria-hidden='true')

					
					
					.col-lg-3.col-auto.order-1.mt-5.d-flex.justify-content-center
						h6.mb-3.mb-lg-4.bold-text
							div(id="google_translate_element")


					.col-lg-3.col-auto.order-2.mt-4.mb-2.d-flex.justify-content-start
						small
							span
								i.fas.fa-phone(aria-hidden='true' class="soc-media-icon") 
							|  0555 555 45 55
