head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")   
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css")
        link(link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/shopping-card.css")
        link(rel="stylesheet" href="/css/search-box.css")
        link(rel="shortcut icon" type="image/png" href="/img/garavolli.png")
        block styles
        title #{title}