div(class="card" style="width: 100%;").rightMenu.mb-3
  img(src="/img/r1.bmp" class="card-img-top" alt="...").rightMenu

div(class="card" style="width: 100%;").rightMenu.mb-3
  img(src="/img/r2.bmp" class="card-img-top" alt="...").rightMenu

div(class="card" style="width: 100%;").rightMenu
  img(src="/img/r3.bmp" class="card-img-top" alt="...").rightMenu
