#mySlider.carousel.slide(data-ride="carousel").mb-0.mr-0.sliderStyle.mb-3

    ol.carousel-indicators
        li(data-target="#mySlider" data-slide-to="1")

    .carousel-inner
        .carousel-item.active
            img(src="/img/g12.png" alt="").d-block.img-fluid

    //- a(href="#mySlider"  data-slide="prev").carousel-control-prev
    //-     span.carousel-control-prev-icon.bg-dark
    
    //- a(href="#mySlider"  data-slide="next").carousel-control-next
    //-     span.carousel-control-next-icon.bg-dark

#mySlider2.carousel.slide(data-ride="carousel").mb-0.mr-0.sliderStyle.mb-3

    ol.carousel-indicators
        li(data-target="#mySlider2" data-slide-to="1")

    .carousel-inner
        .carousel-item.active
            img(src="/img/g11.bmp" alt="").d-block.img-fluid

    //- a(href="#mySlider2"  data-slide="prev").carousel-control-prev
    //-     span.carousel-control-prev-icon.bg-dark
    
    //- a(href="#mySlider2"  data-slide="next").carousel-control-next
    //-     span.carousel-control-next-icon.bg-dark

#mySlider3.carousel.slide(data-ride="carousel").mb-0.mr-0.sliderStyle

    ol.carousel-indicators
        li(data-target="#mySlider3" data-slide-to="1")

    .carousel-inner
        .carousel-item.active
            img(src="/img/g8.png" alt="").d-block.img-fluid

