<!doctype html>
html(lang="en")

    include ../includes/head

    body
        include ../includes/navbar
        block megaMenu
        
        .container.pt-100.mb-5
            block content
            script(src="/js/language.js")
            
        include ../includes/footer

        
        include ../includes/script
        
        