.footer-css{
    overflow: hidden;
    margin-top: 650px;
    background: #fff;
    color: #4b4c4d !important;
    margin-bottom: 0;
    padding-bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color:#4b4c4d !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}
.soc-media-icon{
    border-radius:50%;
    border:2px solid #ccc;
    color:inherit;
    opacity:0.75;
    font-size:24px;
    width:40px;
    height:40px;
    display:inline-block;
    text-align:center;
    margin-left:10px;
    margin-top:22px;
    line-height:40px;
    

}
.soc-media-icon:hover{
opacity:0.9;
color:#4b4c4d;
}
.top-footer{
    border-top:1px solid #ccc;
    
}
.bottom-footer{
    border-bottom:1px solid #ccc;
}

@media screen and (max-width: 1000px) {
    .top-footer div h2{
        display: flex;
        justify-content: center;
    }
    .top-footer div small{
        display: flex;
        justify-content: center;
    }
    .bottom-footer div{
        display: flex;
        justify-content: center;
    }
    .top-footer{
        display: flex;
        justify-content: center;
    }
    .bottom-footer{
        display: flex;
        justify-content: center;
    }
}