nav{
    background-color: #e1e6e7;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar-brand{
    font-family: 'Cinzel', serif;
    padding-top: 7px;
}

.vr{
    border-left: 1px solid rgb(184, 181, 181);
    height: 40px;
    margin-left: 10px
}

.pt-100 {
    padding-top: 100px;
}



nav div ul li a{
    display: inline-block;
    font-size: 16.5px;
}

nav div ul li:after{
    display: block;
    content: '';
    border-bottom: solid 1px rgb(228, 226, 226);
    transform: scaleX(0);  
    transition: all 500ms ease-in-out;
}  

nav div ul li:hover:after{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}

.drop1:hover .drop-menu1 {display: block;}
.drop2:hover .drop-menu2 {display: block;}

/*************************/
/*************************/
ul.menu {
    padding: 0;
    list-style: none;
    width: 100%;
    height: auto;
    margin: 0;
    box-shadow: 0px 0px 10px #3a383870;
    clear: both;
    display: table;
}
/* En üst kategori */
ul.menu .list {
    font-size: 14px;
    border-bottom: 0px solid #575454;
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    height: 50px;
    vertical-align: sub;
    background: #FFFFFF;
    clear: both;
    opacity: 0.95;
}
ul.menu .list i.fa-angle-double-down{
    float: right;
}
ul.menu .list:after {
    content: "";
    position: absolute;
    right: 17px;
    top: 17px;
    padding: 0px 5px;
    color: #fff;
}
ul.menu .list:before {
    content: "";
    position: absolute;
    left: 17px;
    top: 17px;
    padding: 0px 5px;
    color: #fff;
}
ul.menu .list a {
    text-decoration: none;
    color: black;
    padding: 17px 0px 17px 12px;
    display: block;
    height: 100%;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
}
/* Ana kategori hover*/
ul.menu .list a:hover {
    background-color: #FFFFFF;
    transform: translate(5%);
    -webkit-transform: translate(5%);
}
ul.menu .list .items {
    height: 0px;
    overflow: hidden;

}
ul.menu .list .items a {
    padding: 17px;
    transition: all .5s ease-in-out;
}
/* Orta ve en alt kategori kategori hover olduğunda*/
ul.menu .list .items a:hover {
    background-color: #f3f9fa;
    color: black;
    cursor: pointer;
    transform: translate(5%);
    -webkit-transform: translate(5%);
}
/* en alt kategori hover olduğunda*/
ul.menu .list .items .subsublink a:hover {
    background-color: #dbdfdf;
    color: black;
    cursor: pointer;
    transform: translate(5%);
    -webkit-transform: translate(5%);
}

ul.menu .list:last-child {
    border-bottom: none;
}
ul.menu .active:after {
    content: "";
    position: absolute;
    right: 17px;
    top: 17px;
    padding: 0px 5px;
    color: #fff;
}
ul.menu .active:before {
    content: "";
    position: absolute;
    left: 17px;
    top: 17px;
    padding: 0px 5px;
    color: #fff;
}
ul.menu .active > .items {
    display: block;
    background: #000000;
    padding: 0px;
    height: auto;
    color: #fff;
    clear: both;
    float: left;
    width: 100%;
}
ul.menu .active > .items li {
    padding: 0px;
    border-bottom: 0px solid black;
    list-style: none;
}
ul.menu .active > .items li:last-child {
    border-color: transparent;
    padding-bottom: 0px;
}
/*  En alt kategori arka plan */
ul.menu .active > .items .active > .items {
    background-color: #d5e2e2;

}
/* en alt kategori yazı rengi*/
ul.menu .active > .items .active > .items a{
    color: #000000;
    font-size: 14px;
    font-style: normal;

}
/* ana kategori aktifken*/
ul.menu .active > a {
    color: black;
    transform: translate(-25%);
    -webkit-transform: translate(-25%);
    background-color: #FFFFFF;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
/* orta kategori aktif olduktan sonraki rengi*/
ul.items .active > a{
    color: rgb(89, 102, 102);
    font-style: italic; 
/* font-weight: bold; */
transform: translate(-15%);
    -webkit-transform: translate(-15%);
    background-color: #f3f9fa;
}
/* orta kategori arka plan*/
ul.menu .active .list {
    background: #f3f9fa;
    font-size: 14px;
}
ul.menu .active .list a {
    padding: 17px 0px 17px 10px;
}
.giriş-text{
    font-size:16px;
}


/**************************************/
/* kategori menu */

.area nav{
    position: relative;
    top: 58px;
    /* background-color: #61605e; */
    background-color: #F27A1A;
    max-width: 1300px;
    margin: auto;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.menu-area{
   position: static;
}
.mega-area{
    position: absolute;
    width: 100%;
    left:0;
    right:0;
    padding: 15px;
    background-color: #fff;
    margin: 0;
    /* animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center; */
    border-radius: 30px;
    animation: rotateX 1000ms ease-in-out forwards;
    transform-origin: top center;
    opacity: 0.96;
}
@keyframes rotateX {
    0% {
       transform: rotateX(90deg)
   }
   80% {
       transform: rotateX(-10deg)
   }
   100% {
       transform: rotateX(0)
   }
}
.area h5{
    font-size: 20px;
    font-weight: bold;

}
.area .dropdown-item{
    padding: 5px 0;
}
.area .subsubStyle:hover{
    background-color: #fff;
    color: #F27A1A;
}
.area .subsubStyle:focus{
    background-color: #F7F7F8;
}
.area .navbar-nav .nav-item .nav-link{
    color: rgb(233, 230, 230);
    font-size: 18px;
    font-weight: 350;
}
.area .subsubStyle{
    font-size: 15px;
    font-weight: 600;
    color: rgb(27, 27, 27);
}

.area .subsubMenuStyle{
    margin-bottom: 20px;
    
}

.area .subsubCategoryStyle{
    max-height: 250px;
    overflow: auto;
}
::-webkit-scrollbar {
    width: 15px;
  }
  
::-webkit-scrollbar-track {
background-color: transparent;
}

::-webkit-scrollbar-thumb {
background-color: #d6dee1;
border-radius: 10px;
border: 6px solid transparent;
background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
background-color: #a8bbbf;
}