.productDetailMultiPicture{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 15px;

}
.column{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 40px;
}
.productDetailMultiPicture img{

    background-size: auto;
    background-position: center;
    margin-left: 10px;
}

.productDetailimageArea img{
    height: 350px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.productDetailMultiPicture img{
    border: 0px solid rgb(204, 203, 203);
    opacity: 0.8;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
.productContent{
    background-color: #eeecec;
    
}

.productContentRow{
    border: 1px solid rgb(228, 227, 227);
}

.productDetailMultiPicture img:hover {
    opacity: 1;
}

.productInformationStyle{
    width: auto;
    word-wrap: break-word;
}


#zoom img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
            
#zoom img:hover {
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    z-index: 1;
}