.register-form{
    width: 70%;
    
}
@media screen and (max-width: 1000px) {
    .register-form{
        width: 100%;
    }
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form-control{
    border-radius:0rem;
    transition: all .5s ease-in-out; 
}
.form-control:focus{
    border-radius:0.4rem;
    transform: scale(1.2);
    -webkit-transform: scale(1.04);
}
.btnSubmit
{
    border:none;
    border-radius:0.4rem;
    padding: 0.7%;
    width: 100%;
    cursor: pointer;
    background:#878D93;
    color: #fff;
    transition: all .5s ease-in-out; 
}
.btnSubmit:hover{
    background-color:#65696d;
    transform: scale(0.97);
    -webkit-transform: scale(0.97);
}


input[disabled]{
  background-color: #cccccc;
  color: #666666;
}

input[disabled]:hover{
    background-color: #cccccc;
    color: #666666;
    transform: scale(1);
    -webkit-transform: scale(1);
  }