extends ../layouts/main-layout.pug

include ../mixins/createProduct.pug

block megaMenu 
    include ../includes/menu.pug

block content
    .container
        div(class="row d-flex justify-content-center align-items-center")
            .col-md-12(class="d-flex justify-content-center align-items-center")
                div.search
                    i(class="fas fa-search").text-secondary
                    form(action="/search" method="GET")
                        input(type="text" class="form-control" name="search" placeholder="Kategoriye göre arama.." autocomplete="off" id="form1")
                        button().btn Bul
        //-     i(class="fas fa-search")

    marquee(direction=right) Merhaba, sitemizde bulunduğunuz süre boyunca yaşadığınız sıkıntıları, hataları ve eklemesini istediğiniz yenilikleri bizlere sağ altta bulunan butona tıklayarak <a href="/contact" target="_blank">İletişim</a> sayfasından iletirseniz mutluluk duyarız. Teşekkürler..
    //- .div.alert.alert-info.ml-0 Merhaba, sitemizde bulunduğunuz süre boyunca yaşadığınız sıkıntıları, hataları ve eklemesini istediğiniz yenilikleri bizlere <a href="/contact">iletişim</a> sayfasından iletirseniz mutluluk duyarız. Teşekkürler..
    .row
        //- .col-lg-3.p-0
        //-     //-include ../includes/menu.pug
        //-     include ../includes/information.pug
                       
        .col-lg-8.pr-0.pl-0.homePageContent
            include ../includes/slider.pug
        .col-lg-1.pr-0.pl-0
        .col-lg-3.pr-0.pl-0.homePageContent
            include ../includes/rightMenu.pug
            //-.container
                .row
                    if products.length > 0
                        each product in products
                            +createProduct(product)
                    else
                        h1 Ürün Yok