extends ../layouts/main-layout.pug

include ../mixins/createProduct.pug

block content
    marquee(direction=right) Sitemize hoşgeldiniz. Keyifli alışverişler..
    .div.alert.alert-info.ml-0 Merhaba, sitemizde bulunduğunuz süre boyunca yaşadığınız sıkıntıları, hataları ve eklemesini istediğiniz yenilikleri bizlere <a href="/contact">iletişim</a> sayfasından iletirseniz mutluluk duyarız. Teşekkürler..
    .row
        .col-lg-3.p-0
            //-include ../includes/menu.pug
            //-include ../includes/information.pug
            
                   
        .col-lg-12
            include ../includes/slider.pug
          
            //-.container
                .row
                    if products.length > 0
                        each product in products
                            +createProduct(product)
                    else
                        h1 Ürün Yok